{# Copy this template code to start a view#}
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block doc %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block html_attribs %}
    {# Add your Codes Here   #}
{% endblock %}

{% block html %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block head %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block title %}
    {# Add your Codes Here   #}
    Wind Data Viewer
{% endblock %}
{% block metas %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {# Add your Codes Here   #}
    <!-- Scripts for Angular.JS library  -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/angular.min.js') }}"></script>
    <!-- Scripts for Angular.JS ui date picker library  -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/lib/ui-bootstrap-tpls-0.13.0.min.js') }}"></script>
    <!-- Scripts for Angular.JS Charts library  -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/lib/Chart.min.js') }}"></script> <!-- Must maintain the order-->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/lib/angular-chart.min.js') }}"></script>


{% endblock %}

{% block styles %}
    {{ super() }}
    {# Add your Codes Here   #}
    <!-- Styless for Angular.JS Charts library  -->
    <link href="{{ url_for('static', filename='css/lib/angular-chart.css') }}"
          rel="stylesheet" type="text/css">
    <!--print support -->
    <style type="text/css">

{#    Print support code start<!-- from http://stackoverflow.com/questions/468881/print-div-id-printarea-div-only-->#}

    @media print
    {
    	#non-printable { display: none; }
    	#printable { display: block; }
    }
    </style>
    <!-- Print support code end -->
{%- endblock %}

{% block body_attribs %}
    {# Add your Codes Here   #}
{% endblock %}

{% block body %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block brand_href %}
    {# Add your Codes Here   #}
{% endblock %}

{% block navbar_dynamic %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block flash_msg_top %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block view_specific_left_col_buttons %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}


{% block content_1 %}
    {# Add your Codes Here   #}
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
{% endblock %}


{% block content_2 %}
    {# Add your Codes Here   #}
    {# NG-APP#}
    {% include  'raw_data_plotter/raw_data_plotter_ui.html' %}
{% endblock %}

{% block content_footer %}
    {# Add your Codes Here   #}
{% endblock %}



